<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Image Credits</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div th:insert="fragments/_header :: header"></div>

    <h3><a href="https://icons8.com/icon/119429/bread-slice">Bread Slice icon</a> from Icons8</h3>
    <h3><a href="https://www.timescolonist.com/solutions-substitutions-spread-the-word-about-peanut-butter-1.632355">
        Peanut Butter Spread image</a> from Times Colonist</h3>
    <h3><a href="https://www.shutterstock.com/video/clip-14427607-spread-strawberry-jam-on-whole-wheat-bread">Jelly
        Spread image</a> from Shutterstock</h3>
    <h3><a href="https://recipesformen.com/peanut-butter-and-jelly-mix/">Peanut Butter & Jelly Sandwich image</a>
        from Gav's Kitchen</h3>
    <h3><a href="https://www.craftbeer.com/recipes/beer-soaked-grilled-cheese">Grilled Cheese Sandwich image</a> from
        CraftBeer</h3>
    <h3><a href="https://www.allrecipes.com/recipe/209578/blt/">BLT Sandwich image</a> from allrecipes</h3>

    <div class="credits-space">
    </div>
</body>
</html>