<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home - The Super Sandwich Site</title>
    <!-- boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div th:insert="fragments/_header :: header"></div>
    <main>
        <div class="card-group">
        <div class="card">
            <img th:src="@{/img/peanut-butter-and-jelly.jpg}" class="card-img-top"
                 alt="Peanut Butter and Jelly Sandwich">
            <div class="card-body">
                <h5 class="card-title">Peanut Butter and Jelly</h5>
                <p class="card-text">The Peanut Butter and Jelly Sandwich: A classic sandwich fit for a snack or meal,
                    anytime, anywhere</p>
                <a th:href="@{/pbj-step1}" class="btn btn-primary">Visit Instructions</a>
            </div>
        </div>
        <div class="card">
            <img th:src="@{/img/grilled-cheese.jpg}" class="card-img-top" alt="Grilled Cheese Sandwich">
            <div class="card-body">
                <h5 class="card-title">Grilled Cheese</h5>
                <p class="card-text">Coming Soon</p>
                <a th:href="@{/}" class="btn btn-primary">Coming Soon</a>
            </div>
        </div>
        <div class="card">
            <img th:src="@{/img/blt.jpg}" class="card-img-top" alt="BLT Sandwich">
            <div class="card-body">
                <h5 class="card-title">BLT</h5>
                <p class="card-text">Coming Soon</p>
                <a th:href="@{/}" class="btn btn-primary">Coming Soon</a>
            </div>
        </div>
    </div>
        <div class="space">
        </div>
    </main>
    <div th:insert="fragments/_footer :: footer"></div>
</body>
</html>