<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PB&J - Step 2 - The Super Sandwich Site</title>
    <!-- boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<nav aria-label="Page navigation example" class="float-sm-right">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" th:href="@{/pbj-step1}">Previous</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/pbj-step3}">Next</a></li>
    </ul>
</nav>
<h2>Step 2: Jelly</h2>
<main>
    <p align="center">
        <img th:src="@{/img/jelly-spread.jpg}" class="img-fluid pbspread shadow-sm p-3 mb-5 bg-light rounded"
             alt="Spread the jelly">
    </p>
    <p align="center" class="shadow-sm p-3 bg-white rounded">
        Use a knife to spread the jelly on one side of the other slice of bread.
    </p>
</main>
<div class="step-2-space">
</div>
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>